@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('href="https://fonts.googleapis.com/css?family=Digital+7&display=swap"');

*{
    margin: 0;
    font-family: 'Poppins';
}

:root{
    --primary: linear-gradient(to right,#D434FE,#903AFF);
    --negatePrimary: linear-gradient(to left,#D434FE,#903AFF);
    --color1: #150E20;
    --color2: #903AFF;
    --color3: #D434FE;
}
body{
    background:var(--color1);
    background-size: 100vw 100vw; 
    color: #fff;
    /* overflow-x: hidden; */
}
header{
    height:5vh;
    padding-top: 3vw;
}
header nav, header div, header nav ul{
    display:flex;
    list-style-type: none;
    justify-content: center;   
}
header nav div, header nav ul li, header button {
    cursor:pointer;
}
header nav{
    padding-bottom: 1vw;
    border-bottom: var(--color2) solid 1px;
}
header nav div{
    font-size: 1.5vw;
    font-weight: bolder;
}
header nav div a{
    text-decoration: none;
}
header nav div a span{
    color: var(--color3);
}
header nav ul{
    margin: 0 20vw 0 30vw;
}
header nav ul li{
    margin-left: 1vw;
    transition: 1s ease-in-out;
    
}
header nav ul li:hover{
    color: var(--color3);
    text-decoration: underline;
}
header button {
    background: var(--primary);
    color: inherit;
    width: 7%;
    border: var(--primary) solid 1px;
    border-radius: 5%;
    background-size: 120vw; 
    transition: background-position 1s ease-in-out; 
}
header button:hover {
    background-position: right; 
}

main section{
    padding:2rem 8rem 0 6.6rem;
    border-bottom: var(--color2) solid 1px;
    height:95vh;
    overflow: hidden !important;
}
main section .moto{
    text-align: end;
    font-size: 2.4vw;
    font-style: italic;
    padding:2rem 0 0 6.6rem;
} 
main section  .Hero{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
main section  .Hero div:first-child{
    padding-top:10vw ;
}
main section  .Hero .heroIntro {
    font-size: 5vw;
}
main section .heroIntro span{
    color: var(--color3)
}
main section .Hero img{
    width:5vw;
}
main section .Hero .para{
    font-size: 1.3rem;
    width: 40vw;
}
main section .timer{
    font-size: 2vw;
    margin-top: 1.5vw;
}
main section .timer span{
    font-size: .8vw;
    font-family: 'Digital-7', sans-serif;
    margin-right: 1vw;
}
main section .Hero .heroImage{
    background-image: url(images/Untitled-1-removebg-preview.png); 
    background-repeat: no-repeat, no-repeat;
    background-size:54vw;
    background-position: left;
    width:100vw;
    height:90vh
}
main section .Hero .heroImage img{
    width:50vw;
    margin-top: -5vw;
    opacity: .5;
}
main .subSection{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(38vw, 1fr));
}

main .subSection div img{
    width:35vw;
}
main .subSection div h2{
    margin: 15vw 0 1vw 0;
}
main .subSection div img{
    margin-top: 7vw;
}
main .subSection:nth-last-child(7) div h2, main .subSection:nth-last-child(6) div h2, main .subSection:nth-last-child(3) div h2, main .subSection:nth-last-child(1) div h2{
    margin-top: 3vw;
}
main .subSection:nth-last-child(1) div p{
    width:55vw;
}
main .subSection div h2 span{
    color: var(--color3)
}
main .subSection div p{
    width: 35vw;
    text-align: justify;
}
main .subSection div p span{
    color: var(--color3);
    font-weight: bold;
}

main .subSection div .faq{
    margin: 4vw 0 0 0;
}
main .subSection div .faq .faqs{
    margin-top: 2vw;
    width: 35vw;
    height: 6vh;
    display: grid;
    grid-template-columns: 90% 10%;
    border-bottom: var(--color3) solid 1.5px;
}
main .subSection div .faq .faqs p{
    width:95vw
}
main .subSection div .faq .faqs span{
    text-align: end;
    color: var(--color3);
    cursor:pointer;
}
main .timeline{
    height: 110vh;
}
main .timeline h3, main .timeline p{
    text-align: center;
}

main .timeline .timetabe{
    display:grid;
    grid-template-columns: 38vw 8.5vw 38vw;
    margin-top: 10vw;
}
main .timeline .timetabe .time1 div, main .timeline .timetabe .time3 div {
    margin-bottom: 3vw;
}
main .timeline .timetabe .time1,main .timeline .time1 h3, main .timeline .time1 p{
    text-align: end;
}
main .timeline .timetabe .time1 div h3{
    color: var(--color3);
}
main .timeline .timetabe div:nth-child(2){
    text-align: center;
}
main .timeline .timetabe div:nth-child(2) .line{
    width:.3vw;
    height:85vh;
    background: var(--color3);
    margin: -5vw 0 0 4.2vw;
    position: absolute;
    z-index: -1;
}
main .timeline .timetabe div:nth-child(2) div{
    margin-bottom: 3vw;
}
main .timeline .timetabe div:nth-child(2) div .number{
    border: var(--color1) solid 10px;
    border-radius: 100vw;
    background: var(--primary);
    margin:0 2.2vw;
    padding: .6vw .3vw;
    font-weight: bolder;
    text-align: center;
}
main .timeline .timetabe .time3{
    margin-top: 2vw;
}
main .timeline .timetabe .time3 div h3, main .timeline .timetabe .time3 div p{
    text-align: left;
}
main .timeline .timetabe .time3 div h3{
    color:var(--color3)
}
main .PandP{
    text-align: center;
   
}
main .PandP h2, main .PandP p{
    margin:0 30vw;
}
main .PandPcon{
    margin: 4vw 10vw;
    border: var(--color3) solid 1px;
    border-radius: 2rem;
    width:65vw;
    height:50vh;
}
main .PandPcon img{
    margin: -2vw 0 0 -2vw;
    width:70vw;
}
#subsec{
    height:120vh;
}
#subsec div:nth-child(2){
    background-image: url(images/Untitled-2-removebg-preview.png);
    background-repeat:  no-repeat, no-repeat;
    background-size: 31vw;

}
main .subSection .firstPara .Paras{
    margin-bottom: 2vw;
    width: 34vw;
}

main .subSection .firstPara .PPandT{
    border: var(--color3) solid 1px;
    border-radius: 2rem;
    width:28vw;
    height:59vh;
    padding:5vw;
}
main .subSection .firstPara .PPandT p{
    width:28vw;
    margin-bottom: 2vh;
}
main .subSection .firstPara .PPandT h3{
    color:var(--color3)
}
main .subSection .firstPara .PPandT ul li{
    margin-bottom: 1vw;
}
#faqImage{
    margin-top: -8vw;
}
#readMore{
    width:10vw;
    margin: 1vw 10vw
}
footer{
    padding:2vw 8vw 0 6.6vw;
    width: 100vw;

}
footer .footing{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
footer .footing div{
    margin: 0 10vw 0 0
}
footer .footing div .Fpara{
    font-size: 1.5vw;
    font-weight: bolder;
    margin-bottom: 1vw;
}
footer .footing div .Fpara span{
    color: var(--color3);
}
footer .footing .Fmore1 p{
    margin-top: 1vw;
}
footer .footing .Fmore1 span{
    color:var(--color3);
    font-weight: bold;
    margin-bottom: 2vw;
}
footer .copyRight{
    margin:2rem 20vw;
}

/* Special Effects */
.btn{
    background: var(--primary);
    color: inherit;
    font-size: 1vw;
    width: 10vw;
    margin-top: 1.5vw;
    padding:.5vw;
    border: var(--primary) solid 1px;
    border-radius: 5%;
    background-size: 120vw; 
    transition: background-position 1s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    background-position: right; 
}
.gradient{
    display:flex;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    position:absolute;
    overflow: hidden;
    z-index: -1;
}
.gradient div{
    width: 30vw ;
    height:30vw;
    margin: 0 6.6rem 0 6.6rem;
    background: radial-gradient(var(--color2) 20%, var(--color1) 60%);
    filter:blur(3rem);
    overflow: hidden;
}
.gradnt + .gradnt{
    margin: 10vw 0 0  20vw;
    background: radial-gradient(var(--color2) 20%, var(--color1) 40%);
}


/*1. Responsive Min_1024px and Max_1200px*/
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    
    
}
/*2. Responsive Min_991px and Max_1023px*/
@media only screen and (min-width: 992px) and (max-width: 1023px) {
    
}
/*3. Responsive Min_768px and Max_992px*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
}
/*4. Responsive Min_480px and Max_767px*/
@media only screen and (min-width: 481px) and (max-width: 767px) {
    
}
/*5. Responsive Min_320px and Max_480px*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    
}
/*6. Responsive Max_319px*/
@media only screen and (max-width: 319px) {
    
}
