@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('href="https://fonts.googleapis.com/css?family=Digital+7&display=swap"');

*{
    margin: 0;
    font-family: 'Poppins';
}

:root{
    --primary: linear-gradient(to right,#D434FE,#903AFF);
    --negatePrimary: linear-gradient(to left,#D434FE,#903AFF);
    --color1: #150E20;
    --color2: #903AFF;
    --color3: #D434FE;
}
body{
    background:var(--color1);
    background-size: 100vw 100vw; 
    color: #fff;
    opacity: 1;
    overflow-x: hidden;
}
header{
    height:5vh;
    padding-top: 3vw;
}
header nav, header div, header nav ul{
    display:flex;
    list-style-type: none;
    justify-content: center;   
}
header nav ul button{
    display: none;
}

header nav div, header nav ul li, header button {
    cursor:pointer;
}
header nav{
    padding-bottom: 1vw;
    border-bottom: var(--color2) solid 1px;
}
header nav div{
    font-size: 1.5vw;
    font-weight: bolder;
}
header nav div a{
    text-decoration: none;
}
header nav div a span{
    color: var(--color3);
}
header nav ul{
    margin: 0 17vw 0 30vw;
}
header nav ul img{
    display:none;
}
header nav ul li{
    margin-left: 1vw;
    transition: 1s ease-in-out;
    
}
header nav ul li:hover{
    color: var(--color3);
    text-decoration: underline;
}
header button {
    background: var(--primary);
    color: inherit;
    width: 7%;
    border: var(--primary) solid 1px;
    border-radius: 5%;
    background-size: 120vw; 
    transition: background-position 1s ease-in-out; 
}
header button:hover {
    background-position: right; 
}
header nav div img{
    display:none;
}

main section{
    padding:2rem 8vw 0 6.6vw;
    border-bottom: var(--color2) solid 1px;
    height:95vh;
    overflow: hidden !important;
}
main section .moto{
    text-align: end;
    font-size: 2.4vw;
    font-style: italic;
    padding:2rem 0 0 6.6rem;
    opacity:0;
    transition: 3s ease-in-out;
} 
.motoAnime {
    opacity: 1 !important;
    background: linear-gradient(to left, var(--color2), var(--color3));
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    transition: background-position 1s ease-in-out;
    cursor: pointer;
    animation: fashion 4s linear infinite; 
}

@keyframes fashion {
    0% {
        background-position: 100% 0; 
    }
    100% {
        background-position: -100% 0;
    }
}

@-moz-keyframes fashion {
    0% {
        background-position: 100% 0; 
    }
    100% {
        background-position: -100% 0;
    }
}


main section  .Hero{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(38vw, 1fr));
}
main section  .Hero div:first-child{
    padding-top:10vw ;
}
main section  .Hero .heroIntro {
    font-size: 5vw;
}
main section .heroIntro span{
    color: var(--color3)
}
main section .Hero img{
    width:5vw;
}
main section .Hero .para{
    font-size: 1.3rem;
    width: 40vw;
}
main section .timer{
    font-size: 2vw;
    margin-top: 1.5vw;
}
main section .timer span{
    font-size: .8vw;
    font-family: 'Digital-7', sans-serif;
    margin-right: 1vw;
}
main section .Hero .heroImage{
    background-image: url(images/Untitled-1-removebg-preview.png); 
    background-repeat: no-repeat, no-repeat;
    background-size:54vw;
    background-position: left;
    width:100vw;
    height:90vh
}
main section .Hero .heroImage img{
    width:50vw;
    margin-top: -5vw;
    opacity: .5;
}
main .subSection{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(38vw, 1fr));
    height: 120vh;
}

main .subSection div img{
    width:39vw;
}
main .subSection div h2{
    margin: 15vw 0 1vw 0;
}
main .subSection div img{
    margin-top: 7vw;
}
main .subSection:nth-last-child(7) div h2, main .subSection:nth-last-child(6) div h2, main .subSection:nth-last-child(3) div h2, main .subSection:nth-last-child(1) div h2{
    margin-top: 3vw;
}
main .subSection:nth-last-child(1) div p{
    width:55vw;
}
main .subSection div h2 span{
    color: var(--color3)
}
main .subSection div p{
    width: 35vw;
    text-align: justify;
    margin-top:3vw;
}
main .subSection div p span{
    color: var(--color3);
    font-weight: bold;
}

main .subSection div .faq{
    margin: 4vw 0 0 0;
}
main .subSection div .faq .faqs{
    margin-top: 2vw;
    width: 35vw;
    height: 6vh;
    display: grid;
    grid-template-columns: 90% 10%;
    border-bottom: var(--color3) solid 1.5px;
}
main .subSection div .faq .faqs p{
    width:95vw
}
main .subSection div .faq .faqs span{
    text-align: end;
    color: var(--color3);
    cursor:pointer;
}
main .timeline{
    height: 110vh;
}
main .timeline h3, main .timeline p{
    text-align: center;
}

main .timeline .timetabe{
    display:grid;
    grid-template-columns: 38vw 8.5vw 38vw;
    margin-top: 10vw;
}
main .timeline .timetabe .time1 div, main .timeline .timetabe .time3 div {
    margin-bottom: 3vw;
}
main .timeline .timetabe .time1,main .timeline .time1 h3, main .timeline .time1 p{
    text-align: end;
}
main .timeline .timetabe .time1 div h3{
    color: var(--color3);
}
main .timeline .timetabe div:nth-child(2){
    text-align: center;
}
main .timeline .timetabe div:nth-child(2) .line{
    width:.3vw;
    height:85vh;
    background: var(--color3);
    margin: -5vw 0 0 4.2vw;
    position: absolute;
    z-index: -1;
}
main .timeline .timetabe div:nth-child(2) div{
    margin-bottom: 3vw;
}
main .timeline .timetabe div:nth-child(2) div .number{
    border: var(--color1) solid 10px;
    border-radius: 100vw;
    background: var(--primary);
    margin:0 2.2vw;
    padding: .6vw .3vw;
    font-weight: bolder;
    text-align: center;
}
main .timeline .timetabe .time3{
    margin-top: 2vw;
}
main .timeline .timetabe .time3 div h3, main .timeline .timetabe .time3 div p{
    text-align: left;
}
main .timeline .timetabe .time3 div h3{
    color:var(--color3)
}
main .PandP{
    text-align: center;
   
}
main .PandP h2, main .PandP p{
    margin:0 30vw;
}
main .PandPcon{
    margin: 4vw 10vw;
    border: var(--color3) solid 1px;
    border-radius: 2rem;
    width:65vw;
    height:50vh;
}
main .PandPcon img{
    margin: -2vw 0 0 -2vw;
    width:70vw;
}
#subsec{
    height:120vh;
}
#subsec div:nth-child(2){
    background-image: url(images/Untitled-2-removebg-preview.png);
    background-repeat:  no-repeat, no-repeat;
    background-size: 31vw;

}
main .subSection .firstPara .Paras{
    margin-bottom: 2vw;
    width: 34vw;
}

main .subSection .firstPara .PPandT{
    border: var(--color3) solid 1px;
    border-radius: 2rem;
    width:28vw;
    height:59vh;
    padding:5vw !important;
}
main .subSection .firstPara .PPandT p{
    width:28vw;
    margin-bottom: 2vh;
}
main .subSection .firstPara .PPandT h3{
    color:var(--color3)
}
main .subSection .firstPara .PPandT ul li{
    margin-bottom: 1vw;
}
#faqImage{
    margin-top: -8vw;
}
#readMore{
    width:10vw;
    margin: 1vw 10vw
}
.div_fix{
    margin-left:5vh
}
footer{
    padding:2vw 8vw 0 6.6vw;
    width: 100vw;
    font-size: 2vw;

}
footer .footing{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
}
footer .footing div{
    margin: 0 10vw 0 0
}
footer .footing div .Fpara{
    font-size: 1.5vw;
    font-weight: bolder;
    margin-bottom: 1vw;
}
footer .footing div .Fpara span{
    color: var(--color3);
}
footer .footing .Fmore1 p{
    margin-top: 1vw;
}
footer .footing .Fmore1 span{
    color:var(--color3);
    font-weight: bold;
    margin-bottom: 2vw;
}
footer .copyRight{
    margin:2rem 20vw;
}

/* Special Effects */
.btn{
    background: var(--primary);
    color: inherit;
    font-size: 1vw;
    width: 10vw;
    margin-top: 1.5vw;
    padding:.5vw;
    border: var(--primary) solid 1px;
    border-radius: 5%;
    background-size: 120vw; 
    transition: background-position 1s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    background-position: right; 
}
.gradient{
    display:flex;
    grid-template-columns: repeat(auto-fit, minmax(38vw, 1fr));
    position:absolute;
    overflow: hidden;
    z-index: -1;
}
.gradient div{
    width: 30vw ;
    height:30vw;
    margin: 0 6.6rem 0 6.6rem;
    background: radial-gradient(var(--color2) 20%, var(--color1) 60%);
    filter:blur(3rem);
    overflow: hidden;
}
.gradnt + .gradnt{
    margin: 10vw 0 0  20vw;
    background: radial-gradient(var(--color2) 20%, var(--color1) 40%);
}


/*1. Responsive Min_1024px and Max_1200px*/
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    main .subSection{
        font-size: 1.2vw;
    }
    main .timeline{
        height: 140vh;
    }
    
}
/*2. Responsive Min_991px and Max_1023px*/
@media only screen and (min-width: 992px) and (max-width: 1023px) {
    
}
/* 3. Responsive Min_768px and Max_992px */
@media only screen and (min-width: 768px) and (max-width: 991px){
    header{
        position: fixed;
        height:4vh;
        padding-top: 6vw;
        z-index: 999;
        background: var(--color1);
        width:100vw
    }
    header nav, header div, header nav ul{
        display:flex;
        list-style-type: none;
        justify-content: left;   
        padding-left: 5vw;
    }
    header nav div{
        font-size: 3vw;
        font-weight: bolder;
    }
    header nav ul{
        opacity: 0;
        display:block;
        font-size: 3vw;
        position:absolute;
        background: var(--color1);
        padding:10vw 25vw 20vw 10vw;
        line-height: 7vw;
        border:var(--color3) solid 1px;
        border-radius: 2vw;
        margin: -8vw 0 0 100vw;
        /* margin: -8vw 0 0 30vw !important; */
        transition: 2s ease-in-out;
    }

    .active{
        opacity: 1;
        display: block !important;
        margin: -8vw 0 0 20vw !important;
        transition: 2s ease-in-out;
    }
    header nav ul img{
        display: block;
        width: 5vw;
        margin: 0 0 0 40vw;
        transition: 2s ease-in-out;
    }
    header nav ul button{
        display:block;
        width:30vw;
        height:7vh;
        font-size: 3vw;
        margin-top: 4vw;
    }
    header nav ul li{
        /* text-align: center;         */
    }
    header button{
        display:none
    }
    header nav div {
        width:40vw;
    }
    header nav div img{
        display: block;
        width:6vw;
        margin-left: 20vw;;

        justify-content: end;
    }
    main section .moto{
        margin-left: -15vw;
        width:90vw
    }
    main section .Hero{
        margin-left: -5vw;
    }
    main section .moto{
        text-align: center;
        font-size: 4vw;
        font-style: italic;
        padding:2rem 0 0 6.6rem;
        margin-top: 7vw;
    } 
    main section  .Hero{
        display:block;
        text-align: center;
    }
    main section  .Hero .heroIntro {
        font-size: 10vw;
    }
    main section .Hero .para{
        margin-left: 2rem;
        font-size: 2rem;
        width: 80vw;
    }
    main section .timer{
        font-size: 15vw;
        margin-top: 1.5vw;
    }
    main section .timer span{
        font-size: 3vw;
        margin-right: 1vw;
    }
    main section .Hero .heroImage{
        background-size:77vw;
        width:100vw;
        height:90vh;
        margin-top: -23vh;
    }
    main section .Hero .heroImage img{
        width:70vw;
        margin: 28vw 0 0 -20vw;
        opacity: .5;
    }
    main .subSection{
        display: block;
        text-align: center;
    }
    main .subSection div img{
        width:69vw;
    }
    main .subSection div h2{
        margin: 15vw 0 1vw -10vw;
        font-size: 4.5vw;
    }
    main .subSection div p{
        width: 70vw;
        font-size: 2vw;
        text-align: center;
    }
    .media__height{
        height:110vh;
        margin-left: -5vw;
    }
    #faqSection{
        height:130vh;
    }
    #faqSection #faqImage{
        margin-top: 2vw;
    }
    main .subSection div .faq .faqs{
        margin-top: 2vw;
        width: 70vw;
        height: 6vh;
        display: grid;
        grid-template-columns: 90% 10%;
        border-bottom: var(--color3) solid 1.5px;
    }
    main .subSection div .faq .faqs p{
        text-align: left;
        width:60vw;
    }
    /* timeline */
    main .timeline{
        width:80vw;
    }
    main .timeline #timelineh3{
        font-size: 4vw;
    }
    main .timeline #timelinePara{
        font-size: 2vw;
    }
    main .timeline .timetabe{
        display:block;
    }
    main .timeline .timetabe .time1{
        margin-top: 45vw;
        position: relative;
    }
    main .timeline .timetabe .time1 div p{

    }
    main .timeline .timetabe .time1 div h3,main .timeline .timetabe .time1 div p{
        text-align: left;
        margin-left: 7vw;
    }
    main .timeline .timetabe .time1 div h3{
        margin-top: 3vw;
    }
    main .timeline .timetabe div:nth-child(2){
        margin-top: -46vw;
        position:relative
    }
    main .timeline .timetabe div:nth-child(2) .line{
        height:60vh;
        margin: -5vw 0 0 3.2vw;
        position: absolute;
        z-index: -1;
    }
    main .timeline .timetabe div:nth-child(2) div .number{
        margin:10vw 74vw 0 0 ;
        padding: .6vw .3vw;
    }
    main .timeline .timetabe .time3{
        margin: 6vw 0 0 7vw;
    }
    /* timeline */

    main .media__fix div p{
        margin-left: 10vw;
    }
    main .media__fix__img{
        margin-left: -5vw;
    }
    main .PandP h2{
        font-size: 3vw !important;
    }
    main .PandP h2, main .PandP p{
        margin:0 -5vw 0 0;
        width:70vw;
        font-size: 2vw;
    }
    main .PandPcon{
    margin: 4vw 0;
    border: var(--color3) solid 1px;
    border-radius: 2rem;
    width:75vw;
    height:20vh;
    }
    .media__height__reduce{
        height:40vh;
    }
    /* .media__height__reduce .img_animation4{
        margin-left: 2vw;
    } */
    main .PandPcon img{
        margin: -2vw 0 0 -2vw;
        width:80vw;
    }
    #subsec{
        height:140vh;
    }
    #subsec div:nth-child(2){
        background-size: 60vw;
    
    }
    main .subSection .firstPara .Paras{
        width: 74vw;
    }
    main .subSection .firstPara .PPandT{
        width:58vw;
        height:39vh;
        padding:5vw;
        text-align: left;
    }
    main .subSection .firstPara .PPandT p{
        width:58vw;
        margin-bottom: 2vh;
    }
    main .subSection .firstPara .PPandT h3{
        text-align: left;
    }
    main .subSection .firstPara .PPandT ul li{
        margin-bottom: 1vw;
    }
    #readMore{
        width:15vw;
        margin: 1vw 10vw
    }
    .btn{
        background: var(--primary);
        color: inherit;
        font-size: 2.5vw;
        width: 20vw;
        height:5vh;
        margin-top: 1.5vw;
        padding:.5vw;
        border: var(--primary) solid 1px;
        border-radius: 5%;
        background-size: 120vw; 
        transition: background-position 1s ease-in-out;
        cursor: pointer;
    }
    .gradient div{
        /* width: 50vw ; */
        height:30vw;
        margin: 0 6.6rem 0 6.6rem;
        background: radial-gradient(var(--color2) 20%, var(--color1) 60%);
        filter:blur(3rem);
        overflow: hidden;
    }
    
    
}
/*4. Responsive Min_480px and Max_767px*/
@media only screen and (min-width: 481px) and (max-width: 767px) {
    header{
        position: fixed;
        height:4vh;
        padding-top: 6vw;
        z-index: 999;
        background: var(--color1);
        width:100vw
    }
    header nav, header div, header nav ul{
        display:flex;
        list-style-type: none;
        justify-content: left;   
        padding-left: 5vw;
    }
    header nav div{
        font-size: 3vw;
        font-weight: bolder;
    }
    header nav ul{
        opacity: 0;
        display:block;
        font-size: 3vw;
        position:absolute;
        background: var(--color1);
        padding:10vw 25vw 20vw 10vw;
        line-height: 7vw;
        border:var(--color3) solid 1px;
        border-radius: 2vw;
        margin: -8vw 0 0 100vw;
        /* margin: -8vw 0 0 30vw !important; */
        transition: 2s ease-in-out;
    }

    .active{
        opacity: 1;
        display: block !important;
        margin: -8vw 0 0 20vw !important;
        transition: 2s ease-in-out;
    }
    header nav ul img{
        display: block;
        width: 5vw;
        margin: 0 0 0 40vw;
        transition: 2s ease-in-out;
    }
    header nav ul button{
        display:block;
        width:30vw;
        height:7vh;
        font-size: 3vw;
        margin-top: 4vw;
    }
    header nav ul li{
        /* text-align: center;         */
    }
    header button{
        display:none
    }
    header nav div {
        width:40vw;
    }
    header nav div img{
        display: block;
        width:6vw;
        margin-left: 20vw;;

        justify-content: end;
    }
    main section .moto{
        margin-left: -25vw;
        width:90vw
    }
    main section .Hero{
        margin-left: -5vw;
    }
    main section{
        height:140vh
    }
    main section .moto{
        text-align: center;
        font-size: 4vw;
        font-style: italic;
        padding:2rem 0 0 6.6rem;
        margin-top: 7vw;
    } 
    main section  .Hero{
        display:block;
        text-align: center;
    }
    main section  .Hero .heroIntro {
        font-size: 10vw;
    }
    main section .Hero .para{
        margin-left: 2rem;
        font-size: 2rem;
        width: 80vw;
    }
    main section .timer{
        font-size: 15vw;
        margin-top: 1.5vw;
    }
    main section .timer span{
        font-size: 3vw;
        margin-right: 1vw;
    }
    main section .Hero .heroImage{
        background-size:77vw;
        width:100vw;
        height:90vh;
        margin-top: -23vh;
    }
    main section .Hero .heroImage img{
        width:70vw;
        margin: 28vw 0 0 -20vw;
        opacity: .5;
    }
    main .subSection{
        display: block;
        text-align: center;
    }
    main .subSection div img{
        width:69vw;
    }
    main .subSection div h2{
        margin: 15vw 0 1vw -10vw;
        font-size: 4.5vw;
    }
    main .subSection div p{
        width: 70vw;
        font-size: 2vw;
        text-align: center;
    }
    .media__height{
        height:140vh !important;
        margin-left: -5vw;
    }
    #faqSection{
        height:140vh;
    }
    #faqSection #faqImage{
        margin-top: 2vw;
    }
    main .subSection div .faq .faqs{
        margin-top: 2vw;
        width: 70vw;
        height: 6vh;
        display: grid;
        grid-template-columns: 90% 10%;
        border-bottom: var(--color3) solid 1.5px;
    }
    main .subSection div .faq .faqs p{
        text-align: left;
        width:60vw;
    }
    /* timeline */
    main .timeline{
        width:80vw;
    }
    main .timeline #timelineh3{
        font-size: 4vw;
    }
    main .timeline #timelinePara{
        font-size: 2vw;
    }
    main .timeline .timetabe{
        display:block;
    }
    main .timeline .timetabe .time1{
        margin-top: 65vw;
        position: relative;
    }
    main .timeline .timetabe .time1 div p{
    }
    main .timeline .timetabe .time1 div h3,main .timeline .timetabe .time1 div p{
        text-align: left;
        margin-left: 7vw;
        font-size: 2vw;
    }
    main .timeline .timetabe .time1 div h3{
        margin-top: 3vw;
        font-size: 2vw;
    }
    main .timeline .timetabe div:nth-child(2){
        margin-top: -66vw;
        position:relative;
        font-size: 2vw;
    }
    main .timeline .timetabe div:nth-child(2) .line{
        height:70vh;
        margin: -5vw 0 0 2.2vw;
        position: absolute;
        z-index: -1;
    }
    main .timeline .timetabe div:nth-child(2) div .number{
        margin:10vw 74vw 0 -2vw ;
        padding: .6vw .3vw;
    }
    main .timeline .timetabe .time3{
        margin: 15vw 0 0 7vw;
        font-size: 2vw;
    }
    /* timeline */
    main .media__fix{
        height:120vh !important
    }
    main .media__fix div p{
        margin-left: 10vw;
    }
    main .media__fix__img{
        margin-left: -5vw;
    }
    main .PandP h2{
        font-size: 3vw !important;
    }
    main .PandP h2, main .PandP p{
        margin:0 -5vw 0 0;
        width:70vw;
        font-size: 2vw;
    }
    main .PandPcon{
    margin: 4vw 0;
    border: var(--color3) solid 1px;
    border-radius: 2rem;
    width:75vw;
    height:20vh;
    }
    .media__height__reduce{
        height:40vh;
    }
    /* .media__height__reduce .img_animation4{
        margin-left: 2vw;
    } */
    main .PandPcon img{
        margin: -2vw 0 0 -2vw;
        width:80vw;
    }
    #subsec{
        height:160vh;
    }
    #subsec div:nth-child(2){
        background-size: 60vw;
    
    }
    main .subSection .firstPara .Paras{
        width: 74vw;
    }
    main .subSection .firstPara .PPandT{
        width:58vw;
        height:49vh;
        padding:5vw;
        text-align: left;
    }
    main .subSection .firstPara .PPandT p{
        width:58vw;
        margin-bottom: 2vh;
    }
    main .subSection .firstPara .PPandT h3{
        text-align: left;
    }
    main .subSection .firstPara .PPandT ul li{
        margin-bottom: 1vw;
        font-size: 2vw;
    }
    #readMore{
        width:15vw;
        margin: 1vw 10vw
    }
    .btn{
        background: var(--primary);
        color: inherit;
        font-size: 2.5vw;
        width: 20vw;
        height:5vh;
        margin-top: 1.5vw;
        padding:.5vw;
        border: var(--primary) solid 1px;
        border-radius: 5%;
        background-size: 120vw; 
        transition: background-position 1s ease-in-out;
        cursor: pointer;
    }
    .gradient div{
        /* width: 50vw ; */
        height:30vw;
        margin: 0 6.6rem 0 6.6rem;
        background: radial-gradient(var(--color2) 20%, var(--color1) 60%);
        filter:blur(3rem);
        overflow: hidden;
    }
}
/*5. Responsive Min_320px and Max_480px*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    header{
        position: fixed;
        height:4vh;
        padding-top: 6vw;
        z-index: 999;
        background: var(--color1);
        width:100vw
    }
    header nav, header div, header nav ul{
        display:flex;
        list-style-type: none;
        justify-content: left;   
        padding-left: 5vw;
    }
    header nav div{
        font-size: 3vw;
        font-weight: bolder;
    }
    header nav ul{
        opacity: 0;
        display:block;
        font-size: 3vw;
        position:absolute;
        background: var(--color1);
        padding:10vw 25vw 20vw 10vw;
        line-height: 7vw;
        border:var(--color3) solid 1px;
        border-radius: 2vw;
        margin: -8vw 0 0 100vw;
        /* margin: -8vw 0 0 30vw !important; */
        transition: 2s ease-in-out;
    }

    .active{
        opacity: 1;
        display: block !important;
        margin: -8vw 0 0 20vw !important;
        transition: 2s ease-in-out;
    }
    header nav ul img{
        display: block;
        width: 5vw;
        margin: 0 0 0 40vw;
        transition: 2s ease-in-out;
    }
    header nav ul button{
        display:block;
        width:30vw;
        height:7vh;
        font-size: 3vw;
        margin-top: 4vw;
    }
    header nav ul li{
        /* text-align: center;         */
    }
    header button{
        display:none
    }
    header nav div {
        width:40vw;
    }
    header nav div img{
        display: block;
        width:6vw;
        margin-left: 20vw;;

        justify-content: end;
    }
    main section .moto{
        margin-left: -25vw;
        width:90vw
    }
    main section .Hero{
        margin-left: -5vw;
    }
    main section{
        height:105vh
    }
    main section .moto{
        text-align: center;
        font-size: 4vw;
        font-style: italic;
        padding:2rem 0 0 6.6rem;
        margin-top: 7vw;
    } 
    main section  .Hero{
        display:block;
        text-align: center;
    }
    main section  .Hero .heroIntro {
        font-size: 10vw;
    }
    main section .Hero .para{
        margin-left: 2rem;
        font-size: 2rem;
        width: 80vw;
    }
    main section .timer{
        font-size: 15vw;
        margin-top: 1.5vw;
    }
    main section .timer span{
        font-size: 3vw;
        margin-right: 1vw;
    }
    main section .Hero .heroImage{
        background-size:77vw;
        width:100vw;
        height:90vh;
        margin-top: -23vh;
    }
    main section .Hero .heroImage img{
        width:70vw;
        margin: 49vw 0 0 -20vw;
        opacity: .5;
    }
    main .subSection{
        display: block;
        text-align: center;
        height:70vh;
    }
    main .subSection div img{
        width:69vw;
    }
    main .subSection div h2{
        margin: 15vw 0 1vw -10vw;
        font-size: 4.5vw;
    }
    main .subSection div p{
        width: 70vw;
        font-size: 2vw;
        text-align: center;
    }
    .media__height{
        height:90vh !important;
        margin-left: -5vw;
    }
    #faqSection{
        height:100vh;
    }
    #faqSection #faqImage{
        margin-top: 2vw;
    }
    main .subSection div .faq .faqs{
        margin-top: 2vw;
        width: 70vw;
        height: 6vh;
        display: grid;
        grid-template-columns: 90% 10%;
        border-bottom: var(--color3) solid 1.5px;
    }
    main .subSection div .faq .faqs p{
        text-align: left;
        width:60vw;
    }
    /* timeline */
    main .timeline{
        width:80vw;
    }
    main .timeline #timelineh3{
        font-size: 4vw;
    }
    main .timeline #timelinePara{
        font-size: 2vw;
    }
    main .timeline .timetabe{
        display:block;
    }
    main .timeline .timetabe .time1{
        margin-top: 65vw;
        position: relative;
    }
    main .timeline .timetabe .time1 div p{
    }
    main .timeline .timetabe .time1 div h3,main .timeline .timetabe .time1 div p{
        text-align: left;
        margin-left: 7vw;
        font-size: 2vw;
    }
    main .timeline .timetabe .time1 div h3{
        margin-top: 3vw;
        font-size: 2vw;
    }
    main .timeline .timetabe div:nth-child(2){
        margin-top: -66vw;
        position:relative;
        font-size: 2vw;
    }
    main .timeline .timetabe div:nth-child(2) .line{
        height:70vh;
        margin: -5vw 0 0 2.2vw;
        position: absolute;
        z-index: -1;
    }
    main .timeline .timetabe div:nth-child(2) div .number{
        margin:10vw 74vw 0 -2vw ;
        padding: .6vw .3vw;
    }
    main .timeline .timetabe .time3{
        margin: 15vw 0 0 7vw;
        font-size: 2vw;
    }
    /* timeline */
    main .media__fix{
        height:80vh !important
    }
    main .media__fix div p{
        margin-left: 10vw;
    }
    main .media__fix__img{
        margin-left: -5vw;
    }
    main .PandP h2{
        font-size: 3vw !important;
    }
    main .PandP h2, main .PandP p{
        margin:0 -5vw 0 0;
        width:70vw;
        font-size: 2vw;
    }
    main .PandPcon{
    margin: 4vw 0;
    border: var(--color3) solid 1px;
    border-radius: 2rem;
    width:75vw;
    height:20vh;
    }
    .media__height__reduce{
        height:40vh;
    }
    /* .media__height__reduce .img_animation4{
        margin-left: 2vw;
    } */
    main .PandPcon{
        height:14vh;
    }
    main .PandPcon img{
        margin: -2vw 0 0 -2vw;
        width:80vw;
    }
    #subsec{
        height:110vh;
    }
    #subsec div:nth-child(2){
        background-size: 60vw;
    
    }
    main .subSection .firstPara .Paras{
        width: 74vw;
    }
    main .subSection .firstPara .PPandT{
        width:58vw;
        height:40vh;
        padding:5vw;
        text-align: left;
    }
    main .subSection .firstPara .PPandT p{
        width:58vw;
        margin-bottom: 2vh;
    }
    main .subSection .firstPara .PPandT h3{
        text-align: left;
    }
    main .subSection .firstPara .PPandT ul li{
        margin-bottom: 1vw;
        font-size: 2vw;
    }
    #readMore{
        width:15vw;
        margin: 1vw 10vw
    }
    .btn{
        background: var(--primary);
        color: inherit;
        font-size: 2.5vw;
        width: 20vw;
        height:5vh;
        margin-top: 1.5vw;
        padding:.5vw;
        border: var(--primary) solid 1px;
        border-radius: 5%;
        background-size: 120vw; 
        transition: background-position 1s ease-in-out;
        cursor: pointer;
    }
    .gradient div{
        /* width: 50vw ; */
        height:30vw;
        margin: 0 6.6rem 0 6.6rem;
        background: radial-gradient(var(--color2) 20%, var(--color1) 60%);
        filter:blur(3rem);
        overflow: hidden;
    }    
}
/*6. Responsive Max_319px*/
@media only screen and (max-width: 319px) {
    
}
